on boot
    # DC-Dimming (Anti-Flicker)
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chmod 0666 /sys/kernel/oplus_display/dimlayer_bl_en

    # Fsync Switch
    chown system system /sys/module/sync/parameters/fsync_enabled
    chmod 0666 /sys/module/sync/parameters/fsync_enabled

    # HBM
    chown system system /sys/kernel/oplus_display/hbm
    chmod 0666 /sys/kernel/oplus_display/hbm

    # Game Mode (High Touch Polling Rate)
    chown system system /proc/touchpanel/game_switch_enable
    chmod 0666 /proc/touchpanel/game_switch_enable

    #Power Efficient Workqueue
    chown system system /sys/module/workqueue/parameters/power_efficient
    chmod 0666 /sys/module/workqueue/parameters/power_efficient

    # USB-OTG
    chown system /sys/devices/virtual/oplus_chg/usb/otg_switch
    chmod 0666 /sys/devices/virtual/oplus_chg/usb/otg_switch
